.menu-carousel {
  --carouselImgW: 598px;
  --carouselImgH: 261px;

  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(var(--carouselImgW) + 155px);
}

.carousel-top {
  display: flex;
  align-items: center;
}

.carousel-frame {
  width: var(--carouselImgW);
  height: calc(var(--carouselImgH));
  white-space: nowrap;
  overflow-x: hidden;
}

.carousel-cont {
  display: flex;
  width: calc(5 * var(--carouselImgW));
}

.carousel-left,
.carousel-right {
  border: none;
}

.carousel-nav {
  display: flex;
  justify-content: center;
}

.circle-nav {
  --circle-size: 20px;

  width: var(--circle-size);
  height: var(--circle-size);
  border: none;
  border-radius: 50%;
  margin: 3px;
  padding: 0;
}

.nav-active {
  background-color: gray;
}
