.menu-carousel {
  /* Adjust these values for size of carousel */
  --carouselImgW: 600px;
  --carouselImgH: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  border-radius: 8px;
  padding: 0 20px 20px 20px;
}

.carousel-top {
  display: flex;
  align-items: center;
}

.carousel-frame {
  width: var(--carouselImgW);
  height: calc(var(--carouselImgH) + 50px);
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

.carousel-cont {
  display: flex;
  width: calc(5 * var(--carouselImgW));
}

.carousel-img{
  width: var(--carouselImgW);
  height: var(--carouselImgH);
  object-fit: contain;
}

.carousel-name {
  text-wrap: wrap;
  text-align: center;
}

.carousel-left,
.carousel-right {
  border: none;
}

.carousel-nav {
  display: flex;
  justify-content: center;
}

.circle-nav {
  --circle-size: 20px;

  width: var(--circle-size);
  height: var(--circle-size);
  border: none;
  border-radius: 50%;
  margin: 3px;
  padding: 0;
}

.nav-active {
  background-color: gray;
}
